<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>conformanceChecking</display-name>
  <servlet>
    <servlet-name>resultShow</servlet-name>
    <servlet-class>servlet.resultShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultShow</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProcessNet</servlet-name>
    <servlet-class>servlet.getProcessNet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProcessNet</servlet-name>
    <url-pattern>/getProcessNet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getEventNet</servlet-name>
    <servlet-class>servlet.getEventNet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEventNet</servlet-name>
    <url-pattern>/getEventNet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getStateGraph</servlet-name>
    <servlet-class>servlet.getStateGraph</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStateGraph</servlet-name>
    <url-pattern>/getStateGraph</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getResult</servlet-name>
    <servlet-class>servlet.getResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getResult</servlet-name>
    <url-pattern>/getResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getResults</servlet-name>
    <servlet-class>servlet.getResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getResults</servlet-name>
    <url-pattern>/getResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>importFile</servlet-name>
    <servlet-class>servlet.importFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>importFile</servlet-name>
    <url-pattern>/importFile</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>conformanceChecking.jsp</welcome-file>
  </welcome-file-list>
</web-app>